*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root{
    width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #a9dc7aff;
}
span{
    padding: 5px;
    font-weight: bold;
    color: #ed6363;
}